/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #a855f7;
  border-radius: 4px;
}

/* CSS Animation */
@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 1s ease-out;
}

body {
  cursor: url('/images/custom-cursor.png'), auto;
}